:root {
  --primary-color: #212121;
  --secondary-color: #757575;
  --akcent-color: #2196f3;
}
.body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}
.site-nav,
.nav-contacts,
.site-nav .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link {
  color: var(--primary-color);
}
.contacts-link {
  color: var(--secondary-color);
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--akcent-color);
}
.site-nav > a {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.nav-list a,
.nav-contacts a {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav span {
  color: var(--akcent-color);
}
#currentlink {
  color: var(--akcent-color);
}
/* Hero */
.hero {
  color: #ffffff;
  background-color: #2f303a;
  text-align: center;
  align-items: center;
  letter-spacing: 0.06em;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #ffffff;
}
.hero [type="button"] {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  color: #ffffff;
  background-color: var(--akcent-color);
  cursor: pointer;
}
.hero [type="button"]:hover,
.hero [type="button"]:focus {
  color: var(--akcent-color);
  background-color: #ffffff;
}
/* Main */
.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.features h3 {
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
}
.features p {
  line-height: 1.7;
  color: var(--secondary-color);
}
.our-team {
  background-color: #f5f4fa;
}
.our-team h3,
.our-team p {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
.our-team p {
  color: var(--secondary-color);
}
.our-team h3 {
  font-weight: 500;
}
/* footer */
.footer {
  background-color: #2f303a;
}
.footer-link {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: #ffffff;
  text-decoration: none;
}
.footer-link span {
  color: var(--akcent-color);
}
.footer {
  line-height: 1.7;
}
.footer p,
.footer-contacts a {
  font-style: normal;
  line-height: 1.7;
  text-decoration: none;
}
.footer p {
  color: #ffffff;
}
.footer-contacts a {
  color: rgba(255, 255, 255, 0.6);
}
.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--akcent-color);
}
/* portfolio page */

.portfolio [type="button"] {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  background-color: #f5f4fa;
  cursor: pointer;
}
.portfolio [type="button"]:hover,
.portfolio [type="button"]:focus {
  color: #ffffff;
  background-color: var(--akcent-color);
}
.portfolio .first {
  color: #ffffff;
  background-color: var(--akcent-color);
}
.current-second:active {
  color: var(--akcent-color);
}
/* filter of works */

.portfolio h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio p {
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondary-color);
}
