:root {
  /* Light-theme-color */
  --primary-light-text: #212121;
  --secondary-light-text: #757575;
  --primary-light-bg: #ffffff;
  --secondary-light-bg: #e5e5e5;
  /* Dark-theme-color */
  --primary-dark-text: #ffffff;
  --dark-bg: #2f303a;
  /* Grey-theme-color */
  --primary-grey-bg: #f5f4fa;
  --akcent-color-text: #2196f3;
}
.body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  background-color: var(--primary-light-bg);
}
.link-logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: var(--primary-light-text);
  text-decoration: none;
}
.link-logo span {
  color: var(--akcent-color-text);
}
.header-it-link,
.header-mail,
.header-tel {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header-it-link {
  color: var(--primary-light-text);
}
.header-mail,
.header-tel {
  color: var(--secondary-light-text);
}
.header-it-link:hover,
.header-it-link:focus,
#currentlink {
  color: var(--akcent-color-text);
  cursor: pointer;
}
.header-mail:hover,
.header-tel:focus,
.header-mail:focus,
.header-tel:hover {
  color: var(--akcent-color-text);
  cursor: pointer;
}
/* Section Hero */
.hero {
  text-align: center;
  background-color: var(--dark-bg);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-dark-text);
}
.hero-btn {
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-dark-text);
  background-color: var(--akcent-color-text);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
  cursor: pointer;
}
/* Common properties */
.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-light-text);
}
.header-list,
.nav-contacts,
.feature-list,
.projects-list,
.team-list,
.footer-list,
.portfolio-list,
.portfolio-menu {
  list-style: none;
}

/* Section features */
.features > .section-title {
  display: none;
}
.feature-subtitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-light-text);
}
.feature-dscr {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-light-text);
}
/* Section our-projects */
/* Section our team */
.our-team {
  background-color: var(--primary-grey-bg);
}
.team-it-name,
.team-position {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-it-name {
  color: var(--primary-light-text);
}
.team-position {
  color: var(--secondary-light-text);
}
/* Footer */
.footer {
  background-color: var(--dark-bg);
}
.footer-logo {
  font-family: Raleway;
  font-style: 400;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-dark-text);
  text-decoration: none;
}
.footer-logo span {
  color: var(--akcent-color-text);
}
.footer-address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-dark-text);
}
.footer-mail,
.footer-tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-mail:hover,
.footer-tel:hover,
.footer-mail:focus,
.footer-tel:focus {
  color: var(--akcent-color-text);
  cursor: pointer;
}

/* Portfolio page */

.portfolio-btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--primary-light-text);
}
.portfolio [type="button"]:hover,
.portfolio [type="button"]:focus,
.portfolio .current-btn {
  cursor: pointer;
  color: var(--primary-dark-text);
  background-color: #2196f3;
}
.portfolio .current-btn {
  color: var(--primary-dark-text);
  background-color: #2196f3;
}
.portfolio-subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-light-text);
}
.portfolio-filter-section {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-light-text);
}
